.metadata/
.recommenders/
.classpath
.settings/
.project
dependency-reduced-pom.xml
examples/SCPNet/Simple/**/packages/
examples/SCPNet/Simple/**/bin/
examples/SCPNet/Simple/**/obj/
examples/Simple/**/target/
examples/SCPNet/EndToEnd/**/packages/
examples/SCPNet/EndToEnd/**/bin/
examples/SCPNet/EndToEnd/**/obj/
examples/SCPNet/EndToEnd/**/target/
scpnet-common/packages/
scpnet-common/bin/
scpnet-common/obj/
.suo
SubmitConfig.xml