<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="EventHubSharedAccessKeyName" value="Admin"/>
    <add key="EventHubSharedAccessKey" value="# TO BE FILLED #"/>
    <add key="EventHubNamespace" value="storm-test"/>
    <add key="EventHubEntityPath" value="storm-test"/>
    <add key="EventHubPartitions" value="2"/>
    <add key="wasbRepoUrl" value="wasb:///"/>
    <add key="wasbFileDirRoot" value="/scpwasbtest1"/>
    <add key="fileRotationSize" value="10"/>
    <add key="fileRotationSizeUnits" value="org.apache.storm.hdfs.bolt.rotation.FileSizeRotationPolicy$Units/KB"/>
    <add key="BlobStorageConnectionString" value="# BLOB STORE CONNECTION STRING #" />

    <add key="BlobStorageFileRotationSize" value="16"/>
    <add key="BlobStorageFileRotationSizeUnits" value="MB"/>

    <add key="BlobStorageFilenamePrefix" value="Events"/>
    <add key="BlobStorageRootPath" value=""/>
    <add key="BlobStorageContainer" value="scplambda"/>

    <add key="BlobStorageSyncSize" value="102400"/>
    <add key="BlobStorageSyncCount" value="1000"/>
  </appSettings>
</configuration>