<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DeviceIdStart" value="1"/>
    <add key="DeviceCount" value="1000"/>
    <add key="EventCount" value="10000000"/>
    <add key="EventHubSharedAccessKeyName" value= "Admin"/>
    <add key="EventHubSharedAccessKey" value="# TO BE FILLED #"/>
    <add key="EventHubNamespace" value="storm-test"/>
    <add key="EventHubEntityPath" value="storm-test"/>
    <add key="EventHubPartitions" value="2"/>
  </appSettings>
</configuration>